{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:20px;">
        <iframe src="https://www.google.com/maps/place/Karunagappalli,+Kerala/@9.0522043,76.5322986,15.85z/data=!4m6!3m5!1s0x3b06039217ff88a9:0x6439960a66f0b4e5!8m2!3d9.0597934!4d76.5355902!16s%2Fm%2F02wvygw?authuser=0&entry=ttu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


      </div>
      <div class="row justify-content-center" style="margin-top:20px;">

        <ul>
          <li>Located on Karunagapally right near the H&J Mall.</li>
          <li>Do not park across the street from us! It is a tow zone!</li>
        </ul>

      </div>

    </div>

{% endblock %}
